.boton {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    padding: 24px 32px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #ffffff;
    margin: 32px 0;
    cursor: pointer; 
}

.boton:hover{
    color: #95FFD4;
}